# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/

# Raw Data
raw/

# compiled files
*__pycache__*
src/main/java
src/main/protobuf/message_pb2.py
.pytest_cache
.scala-build

# SQLITE database dir
data/*

# scrap file
test.ipynb
